<!----------------------------->
<!-- PORTRAIT DESIGN CHECKED -->
<div class="portrait-design">
  <div class="container p-3">

    <!-- HEADER -->
    <div class="row mb-3">
      <div class="col-10 col-md-11">
        <p class="fs-4 fw-bold text-uppercase">Ajustes</p>
      </div>
      <div class="col-2 col-md-1">
        <img class="img-fluid" src="./assets/images/modules/settings/settings.png" alt="Ajustes">
      </div>
    </div>


    <!-- LIST -->
    <div class="row margin-bottom-page">
      <div class="col-12">
        <div ngbAccordion>
          <div ngbAccordionItem [collapsed]="true">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Productos</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item cursor-pointer" (click)="getTemplate('PRODUCTS-CATEGORIES')">Categorias</li>
                    <li class="list-group-item cursor-pointer" (click)="getTemplate('PRODUCTS-BRANDS')">Marcas</li>
                  </ul>
                </ng-template>
              </div>
            </div>
          </div>
          <div ngbAccordionItem [collapsed]="true">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                Clientes
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>

                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="row fixed-bottom bg-white p-3">
      <div class="col-12 d-flex justify-content-between">
        <!-- BUTTON BACK -->
        <button
          [routerLink]="'/home'"
          type="button"
          class="btn btn-primary rounded-circle"
        >
          <i class="bi bi-arrow-90deg-left fs-3"></i>
        </button>

      </div>
    </div>

  </div>
</div>

