<!--------------------->
<!-- PORTRAIT DESIGN -->
<div class="portrait-design">
  <div class="container-fluid">
    <div class="row">

      <div class="col-6 col-sm-4">
        <div class="card shadow rounded border-0 p-3 mt-3 cursor-pointer text-center" [routerLink]="'/customers'">
          <img class="m-auto" ngSrc="./assets/images/modules/customers/customers.png" alt="CLIENTES" height="128"
               width="128"
               priority="">
          <p class="fs-5 mt-2 mb-0">CLIENTES</p>
        </div>
      </div>

      <div class="col-6 col-sm-4">
        <div class="card shadow rounded border-0 p-3 mt-3 cursor-pointer text-center" [routerLink]="'/products'">
          <img class="m-auto" ngSrc="./assets/images/modules/products/products.png" alt="PRODUCTOS" height="128"
               width="128"
               priority="">
          <p class="fs-5 mt-2 mb-0">PRODUCTOS</p>
        </div>
      </div>

      <div class="col-6 col-sm-4">
        <div class="card shadow rounded border-0 p-3 mt-3 cursor-pointer text-center" [routerLink]="'/settings'">
          <img class="m-auto" ngSrc="./assets/images/modules/settings/settings.png" alt="AJUSTES" height="128"
               width="128" priority="">
          <p class="fs-5 mt-2 mb-0">AJUSTES</p>
        </div>
      </div>

    </div>
  </div>
</div>


<!---------------------->
<!-- LANDSCAPE DESIGN -->
<div class="landscape-design">
  <div class="container">
    <div class="row">

      <div class="col-4 col-lg-3 col-xl-2">
        <div class="card shadow rounded border-0 p-3 mt-3 cursor-pointer text-center" [routerLink]="'/customers'">
          <img class="m-auto" ngSrc="./assets/images/modules/customers/customers.png" alt="CLIENTES" height="128"
               width="128"
               priority="">
          <p class="fs-5 fw-bold mt-2 mb-0">CLIENTES</p>
        </div>
      </div>

      <div class="col-4 col-lg-3 col-xl-2">
        <div class="card shadow rounded border-0 p-3 mt-3 cursor-pointer text-center" [routerLink]="'/products'">
          <img class="m-auto" ngSrc="./assets/images/modules/products/products.png" alt="PRODUCTOS" height="128"
               width="128"
               priority="">
          <p class="fs-5 fw-bold mt-2 mb-0">PRODUCTOS</p>
        </div>
      </div>

      <div class="col-4 col-lg-3 col-xl-2">
        <div class="card shadow rounded border-0 p-3 mt-3 cursor-pointer text-center" [routerLink]="'/settings'">
          <img class="m-auto" ngSrc="./assets/images/modules/settings/settings.png" alt="AJUSTES" height="128"
               width="128" priority="">
          <p class="fs-5 fw-bold mt-2 mb-0">AJUSTES</p>
        </div>
      </div>

    </div>
  </div>
</div>
