<!-------------------------------------------->
<!-- PORTRAIT DESIGN - 100% CHECKED ---------->
<div class="portrait-design">
  <div class="container-fluid">
    <div class="row">

      <div class="col-6 col-sm-4">
        <div class="card shadow rounder border-0 p-3 mt-3 cursor-pointer text-center" [routerLink]="'/customers'">
          <img class="m-auto" src="./assets/images/modules/customers/customers.png" alt="Clientes">
          <p class="fs-5 mb-0 fw-bold text-uppercase">Clientes</p>
        </div>
      </div>

      <div class="col-6 col-sm-4">
        <div class="card shadow rounder border-0 p-3 mt-3 cursor-pointer text-center" [routerLink]="'/products'">
          <img class="m-auto" src="./assets/images/modules/products/products.png" alt="Productos">
          <p class="fs-5 mb-0 fw-bold text-uppercase">Productos</p>
        </div>
      </div>

      <div class="col-6 col-sm-4">
        <div class="card shadow rounder border-0 p-3 mt-3 cursor-pointer text-center" [routerLink]="'/settings'">
          <img class="m-auto" src="./assets/images/modules/settings/settings.png" alt="Ajustes">
          <p class="fs-5 mb-0 fw-bold text-uppercase">Ajustes</p>
        </div>
      </div>

    </div>
  </div>
</div>


<!--------------------------------------------->
<!-- LANDSCAPE DESIGN - 100% CHECKED ---------->
<div class="landscape-design">
  <div class="container">
    <div class="row">

      <div class="col-4 col-lg-3 col-xl-2">
        <div class="card shadow rounder border-0 p-3 mt-3 cursor-pointer text-center" [routerLink]="'/customers'">
          <img class="m-auto" src="./assets/images/modules/customers/customers.png" alt="Clientes">
          <p class="fs-5 mb-0 fw-bold text-uppercase">Clientes</p>
        </div>
      </div>

      <div class="col-4 col-lg-3 col-xl-2">
        <div class="card shadow rounder border-0 p-3 mt-3 cursor-pointer text-center" [routerLink]="'/products'">
          <img class="m-auto" src="./assets/images/modules/products/products.png" alt="Productos">
          <p class="fs-5 mb-0 fw-bold text-uppercase">Productos</p>
        </div>
      </div>

      <div class="col-4 col-lg-3 col-xl-2">
        <div class="card shadow rounder border-0 p-3 mt-3 cursor-pointer text-center" [routerLink]="'/settings'">
          <img class="m-auto" src="./assets/images/modules/settings/settings.png" alt="Ajustes">
          <p class="fs-5 mb-0 fw-bold text-uppercase">Ajustes</p>
        </div>
      </div>

    </div>
  </div>
</div>
