<!--------------------->
<!-- PORTRAIT DESIGN -->
<div class="portrait-design">
  <div class="container p-3">

    <!-- HEADER -->
    <div class="row">
      <div class="col-10 col-md-11">
        <p class="fs-4 fw-bold text-uppercase">Nuevo Producto</p>
      </div>
      <div class="col-2 col-md-1">
        <img class="img-fluid" src="./assets/images/modules/products/products.png" alt="Nuevo Producto">
      </div>
    </div>

    <!-- FORM -->
    <form [formGroup]="newProductForm" (ngSubmit)="onSubmit(firebaseUser)">

      <!-- CATEGORY -->
      <div class="form-floating mb-3">
        <select
          class="form-select"
          id="category-PORT"
          formControlName="category"
          required>
          <option *ngFor="let category of listCategories" value="{{category.name}}">{{category.name}}</option>
        </select>
        <label for="category-PORT">Seleccionar Categoría</label>
      </div>

      <!-- BRAND -->
      <div class="form-floating mb-3">
        <select
          class="form-select"
          id="brand-PORT"
          formControlName="brand"
          required>
          <option *ngFor="let brand of listBrands" value="{{brand.name}}">{{brand.name}}</option>
        </select>
        <label for="brand-PORT">Seleccionar Marca</label>
      </div>

      <!-- DESCRIPTION -->
      <div class="form-floating mb-3">
        <textarea
          class="form-control"
          placeholder="Descripción"
          id="description-PORT"
          style="height: 80px"
          formControlName="description"
          required></textarea>
        <label for="description-PORT">Descripción del producto</label>
      </div>

      <!-- STOCK AND PRICE -->
      <div class="row mb-3">
        <!-- STOCK -->
        <div class="col-6">
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              id="stock-PORT"
              placeholder="Stock unidades"
              formControlName="stock">
            <label for="stock-PORT">Stock unidades</label>
          </div>
        </div>
        <!-- PRICE -->
        <div class="col-6">
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              id="price-PORT"
              placeholder="Precio: S/."
              formControlName="price"
              required>
            <label for="price-PORT">Precio: S/.</label>
          </div>
        </div>
      </div>

      <!-- BARCODE -->
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="barcode-PORT"
          placeholder="Código de barras"
          formControlName="barcode">
        <label for="barcode-PORT">Código de barras</label>
      </div>

      <!-- PHOTO -->
      <ng-container *ngIf="photo_preview && photo_preview !== ''; else noPreview">
        <div class="row">
          <div class="col-12">
            <p class="fs-5 text-center">VISTA PREVIA</p>
          </div>
        </div>
        <div class="row text-center" style="margin-bottom: 100px">
          <div class="col-4 offset-4">
            <div class="container-camera mb-3">
              <input type="file" (change)="take_photo($event)" accept="image/*;capture=camera">
              <img class="img-fluid" style="max-height: 150px" src="{{photo_preview}}" alt="{{photo_file.name}}">
            </div>

            <!-- BUTTON DELETE PREVIEW -->
            <button
              (click)="deletePreview()"
              type="button"
              class="btn btn-danger">
              <i class="bi bi-trash-fill"></i>
              Borrar
            </button>
          </div>
        </div>
      </ng-container>

      <ng-template #noPreview>
        <div class="row">
          <div class="col-12">
            <p class="fs-5 text-center">TOMAR FOTO</p>
          </div>
        </div>
        <div class="row text-center" style="margin-bottom: 100px">
          <div class="col-4 offset-4">
            <div class="container-camera">
              <input type="file" (change)="take_photo($event)" accept="image/*;capture=camera">
              <img class="img-fluid" src="./assets/images/camera.png" alt="Camera">
            </div>
          </div>
        </div>
      </ng-template>

      <!-- FOOTER -->
      <div class="row fixed-bottom bg-white p-3">
        <div class="col-6">
          <!-- BUTTON CANCEL -->
          <button
            type="reset"
            class="btn btn-danger w-100"
            (click)="getTemplate('LIST')">
            <i class="bi bi-x-circle-fill"></i>
            Cancelar
          </button>
        </div>
        <div class="col-6">
          <!-- BUTTON SAVE /W LOADING EFFECT -->
          <button
            *ngIf="loadingEffect"
            type="button"
            class="btn btn-success w-100" disabled>
            <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
            Guardando...
          </button>
          <!-- BUTTON SAVE -->
          <button
            *ngIf="!loadingEffect"
            type="submit"
            class="btn btn-success w-100">
            <i class="bi bi-hdd-fill"></i>
            Guardar
          </button>
        </div>
      </div>

    </form>
  </div>
</div>


<!---------------------->
<!-- LANDSCAPE DESIGN -->
<div class="landscape-design">
  <div class="container p-2">

    <form [formGroup]="newProductForm" (ngSubmit)="onSubmit(firebaseUser)">

      <!-- HEADER AND TOOLBAR -->
      <div class="row mb-2">
        <div class="col-12">
          <div class="card shadow rounded border-0 p-2">
            <div class="row">

              <!-- HEADER -->
              <div class="col-6 d-flex justify-content-start">
                <img class="ms-2 me-2" ngSrc="./assets/images/modules/products/products.png" alt="Nuevo Producto"
                     height="32"
                     width="32" priority="">
                <p class="fs-5 fw-bold m-0 text-uppercase">NUEVO PRODUCTO</p>
              </div>

              <!-- TOOLBAR -->
              <div class="col-6 d-flex justify-content-end">
                <!-- BUTTON CANCEL -->
                <button
                  type="reset"
                  class="btn btn-danger me-2"
                  (click)="getTemplate('LIST')">
                  <i class="bi bi-x-circle-fill"></i>
                  Cancelar
                </button>
                <!-- BUTTON SAVE /W LOADING EFFECT -->
                <button
                  *ngIf="loadingEffect"
                  type="button"
                  class="btn btn-success" disabled>
                  <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
                  Guardando...
                </button>
                <!-- BUTTON SAVE -->
                <button
                  *ngIf="!loadingEffect"
                  type="submit"
                  class="btn btn-success">
                  <i class="bi bi-hdd-fill"></i>
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- FORM -->
      <div class="row">
        <!-- DATA PRODUCT -->
        <div class="col-6">
          <div class="card shadow rounded border-0 p-3">
            <p class="fs-5 fw-bold mb-1">Datos del Producto</p>
            <hr class="text-muted mt-1">

            <!-- CATEGORY -->
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="category-LAND"
                formControlName="category"
                required>
                <option *ngFor="let category of listCategories" value="{{category.name}}">{{category.name}}</option>
              </select>
              <label for="category-LAND">Seleccionar Categoría</label>
            </div>

            <!-- BRAND -->
            <div class="form-floating mb-3">
              <select
                class="form-select"
                id="brand-LAND"
                formControlName="brand"
                required>
                <option *ngFor="let brand of listBrands" value="{{brand.name}}">{{brand.name}}</option>
              </select>
              <label for="brand-LAND">Seleccionar Marca</label>
            </div>

            <!-- DESCRIPTION -->
            <div class="form-floating mb-3">
                <textarea
                  class="form-control"
                  placeholder="Descripción"
                  id="description-LAND"
                  style="height: 80px"
                  formControlName="description"
                  required></textarea>
              <label for="description-LAND">Descripción del producto</label>
            </div>

            <!-- STOCK AND PRICE -->
            <div class="row mb-3">
              <!-- STOCK -->
              <div class="col-6">
                <div class="form-floating">
                  <input
                    type="number"
                    class="form-control"
                    id="stock-LAND"
                    placeholder="Stock unidades"
                    formControlName="stock">
                  <label for="stock-LAND">Stock unidades</label>
                </div>
              </div>
              <!-- PRICE -->
              <div class="col-6">
                <div class="form-floating">
                  <input
                    type="number"
                    class="form-control"
                    id="price-LAND"
                    placeholder="Precio: S/."
                    formControlName="price"
                    required>
                  <label for="price-LAND">Precio: S/.</label>
                </div>
              </div>
            </div>

            <!-- BARCODE -->
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="barcode-LAND"
                placeholder="Código de barras"
                formControlName="barcode">
              <label for="barcode-LAND">Código de barras</label>
            </div>

          </div>
        </div>

        <!-- UPLOAD PHOTOS -->
        <div class="col-6">
          <div class="card shadow rounded border-0 p-3">
            <p class="fs-5 fw-bold mb-1">Subir Foto</p>
            <hr class="text-muted mt-1">

            <div class="row">
              <ng-container *ngIf="photo_preview && photo_preview !== ''; else defaultPreview">
                <div class="col-9">
                  <!-- BUTTON DELETE PREVIEW -->
                  <button type="button" class="btn btn-danger" (click)="deletePreview()">
                    <i class="bi bi-trash-fill"></i>
                    Borrar
                  </button>
                </div>

                <div class="col-3 text-end">
                  <img class="img-fluid" style="max-height: 128px" src="{{photo_preview}}"
                       alt="{{photo_file.name}}">
                </div>
              </ng-container>

              <ng-template #defaultPreview>
                <div class="col-9">
                  <input type="file" class="form-control" (change)="take_photo($event)">
                </div>
                <div class="col-3 text-end">
                  <img class="img-fluid" src="./assets/images/modules/products/product.png" alt="preview">
                </div>
              </ng-template>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>
</div>
