<!-- LOGGED -->
<ng-container *ngIf="authService.user$ | async as firebaseUser; else noLogged">

  <!-- LIST CUSTOMERS - TEMPLATE -->
  <app-customers-list
    *ngIf="template === 'LIST'"
    (customerSelected)="getCustomerSelected($event)"
    (outTemplate)="getTemplate($event)"
  ></app-customers-list>

  <!-- NEW CUSTOMER - TEMPLATE -->
  <app-customers-new
    *ngIf="template === 'NEW'"
    [firebaseUser]="firebaseUser"
    (outTemplate)="getTemplate($event)"
  ></app-customers-new>

  <!-- VIEW CUSTOMER - TEMPLATE -->
  <app-customers-view
    *ngIf="template === 'VIEW'"
    [customer]="customerSelected"
    (outTemplate)="getTemplate($event)"
  ></app-customers-view>

  <!-- EDIT CUSTOMER - TEMPLATE -->
  <app-customers-edit
    *ngIf="template === 'EDIT'"
    [firebaseUser]="firebaseUser"
    [customer]="customerSelected"
    (outTemplate)="getTemplate($event)"
  ></app-customers-edit>

</ng-container>

<!-- NO LOGGED -->
<ng-template #noLogged></ng-template>
