<!--------------------->
<!-- PORTRAIT DESIGN -->
<div class="portrait-design">
  <div class="container p-3">

    <!-- BRAND -->
    <div class="row">
      <div class="col-12 text-center">
        <p class="fs-4 fw-bold text-uppercase">{{product.brand}}</p>
      </div>
    </div>

    <!-- PHOTO -->
    <div class="row">
      <div class="col-12 text-center">
        <img class="img-fluid w-50"
             (click)="openModalPhoto(modalPhoto, product.photoURL)"
             src="{{product.photoURL}}"
             alt="{{product.description}}"
        >
      </div>
    </div>

    <!-- SEPARATOR -->
    <div class="row">
      <div class="col-12">
        <p class="text-center small text-muted">(Click en la imagen para agrandar)</p>
        <hr class="text-muted">
      </div>
    </div>

    <!-- DATA -->
    <div class="row margin-bottom-page">
      <div class="col-12">
        <ul class="list-group list-group-flush">

          <!-- CATEGORY AND DESCRIPTION -->
          <li class="list-group-item border-0">
            <div class="row">
              <!-- CATEGORY -->
              <div class="col-6">
                <p class="small text-muted mb-0">Categoria:</p>
                <p class="fw-bold">{{product.category}}</p>
              </div>
              <!-- DESCRIPTION -->
              <div class="col-6">
                <p class="small text-muted mb-0">Descripción:</p>
                <p class="fw-bold">{{product.description}}</p>
              </div>
            </div>
          </li>

          <!-- PRICE AND STOCK -->
          <li class="list-group-item border-0">
            <div class="row">
              <!-- PRICE -->
              <div class="col-6">
                <p class="small text-muted mb-0">Precio:</p>
                <p class="fw-bold">S/. &nbsp; {{product.price}}</p>
              </div>
              <!-- STOCK -->
              <div class="col-6">
                <p class="small text-muted mb-0">Stock:</p>
                <p class="text-danger" *ngIf="product.stock === 0">Sin stock.</p>
                <p class="fw-bold" *ngIf="product.stock === 1">{{product.stock}} &nbsp; Unidad.</p>
                <p class="fw-bold" *ngIf="product.stock > 1">{{product.stock}} &nbsp; Unidades.</p>
              </div>
            </div>
          </li>

          <!-- CREATED AND UPDATED -->
          <li class="list-group-item border-0">
            <div class="row">
              <!-- CREATED AT-->
              <div class="col-6">
                <p class="small text-muted mb-0">Registrado:</p>
                <p class="fw-bold">{{product.createdAt.toMillis() | date:'MMMM d, y'}}</p>
              </div>
              <!-- UPDATED AT-->
              <div class="col-6">
                <p class="small text-muted mb-0">Última actualización:</p>
                <p class="fw-bold">{{product.updatedAt.toMillis() | date:'MMMM d, y'}}</p>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="row fixed-bottom bg-white p-3">
      <div class="col-12 d-flex justify-content-between">

        <!-- BUTTON BACK -->
        <button
          type="button"
          class="btn btn-primary rounded-circle"
          (click)="getTemplate('LIST')"
        >
          <i class="bi bi-arrow-90deg-left fs-3"></i>
        </button>

        <!-- BUTTON DELETE -->
        <button
          type="button"
          class="btn btn-danger rounded-circle"
          (click)="openModalDelete(modalDelete)"
        >
          <i class="bi bi-trash-fill fs-3"></i>
        </button>

        <!-- BUTTON EDIT -->
        <button
          type="button"
          class="btn btn-primary rounded-circle"
          (click)="getTemplate('EDIT')"
        >
          <i class="bi bi-pencil-square fs-3"></i>
        </button>

      </div>
    </div>

  </div>
</div>

<!-- MODAL DELETE -->
<ng-template #modalDelete let-modal>
  <div class="modal-body text-center">
    <p class="lead">¿Desea eliminar el producto?</p>
    <!-- BUTTON CANCEL -->
    <button
      type="button"
      class="btn btn-secondary btn-sm me-2"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="bi bi-x-circle-fill me-2"></i>
      NO
    </button>

    <!-- BUTTON DELETE -->
    <button
      type="button"
      class="btn btn-danger btn-sm"
      (click)="deleteProduct(product)"
    >
      <i class="bi bi-trash-fill me-2"></i>
      SI
    </button>
  </div>
</ng-template>

<!-- MODAL PHOTO -->
<ng-template #modalPhoto let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body text-center">
    <img class="img-fluid" src="{{imageToZoom}}" alt="{{product.description}}">
  </div>
</ng-template>


<!---------------------->
<!-- LANDSCAPE DESIGN -->
<div class="landscape-design">
  <div class="container p-2">

    <!-- HEADER AND TOOLBAR -->
    <div class="row mb-2">
      <div class="col-12">
        <div class="card shadow rounded border-0 p-2">
          <div class="row">

            <!-- HEADER -->
            <div class="col-8">
              <p class="fs-5 fw-bold text-uppercase ms-2 m-0">{{product.brand}} - {{product.description}}</p>
            </div>

            <!-- TOOLBAR -->
            <div class="col-4 d-flex justify-content-end">
              <!-- BUTTON BACK -->
              <button
                (click)="getTemplate('LIST')"
                type="button"
                class="btn btn-secondary me-2">
                <i class="bi bi-arrow-left"></i>
                Atrás
              </button>

              <!-- BUTTON EDIT -->
              <button
                (click)="getTemplate('EDIT')"
                type="button"
                class="btn btn-primary">
                <i class="bi bi-pencil-square"></i>
                Editar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PRODUCT (DATA - PHOTOS) -->
    <div class="row">
      <!-- PHOTOS -->
      <div class="col-6">
        <div class="card shadow rounded border-0 p-3">
          <img
            class="img-fluid m-auto"
            style="max-height: 300px"
            src="{{product.photoURL}}"
            alt="{{product.description}}"
            (click)="openModalPhoto(modalPhoto, product.photoURL)">
          <hr>
          <p class="small text-center text-muted">(Click en la imagen para agrandar)</p>
        </div>
      </div>

      <!-- DATA -->
      <div class="col-6">
        <div class="card shadow rounded border-0 p-3">
          <ul class="list-group list-group-flush">
            <!-- CATEGORY AND BRAND -->
            <li class="list-group-item border-0">
              <div class="row">
                <!-- PHONE -->
                <div class="col-6">
                  <p class="text-muted mb-0">Categoria:</p>
                  <p class="fw-bold">{{product.category}}</p>
                </div>
                <!-- DNI -->
                <div class="col-6">
                  <p class="text-muted mb-0">Marca:</p>
                  <p class="fw-bold">{{product.brand}}</p>
                </div>
              </div>
            </li>

            <!-- PRICE AND STOCK -->
            <li class="list-group-item border-0">
              <div class="row">
                <!-- PRICE -->
                <div class="col-6">
                  <p class="text-muted mb-0">Precio:</p>
                  <p class="fw-bold">S/. {{product.price}}</p>
                </div>
                <!-- STOCK -->
                <div class="col-6">
                  <p class="text-muted mb-0">Stock:</p>
                  <p class="fw-bold" *ngIf="product.stock === 0">Sin stock.</p>
                  <p class="fw-bold" *ngIf="product.stock === 1">{{product.stock}} &nbsp;Unidad.</p>
                  <p class="fw-bold" *ngIf="product.stock > 1">{{product.stock}} &nbsp;Unidades.</p>
                </div>
              </div>
            </li>

            <!-- BARCODE -->
            <li class="list-group-item border-0">
              <p class="text-muted mb-0">Código de barras:</p>
              <p class="fw-bold">{{product.barcode}}</p>
            </li>

            <!-- CREATED AND UPDATED -->
            <li class="list-group-item border-0">
              <div class="row">
                <!-- CREATED -->
                <div class="col-6">
                  <p class="text-muted mb-0">Registrado:</p>
                  <p class="fw-bold">{{product.createdAt.toMillis() | date:'MMMM d, y'}}</p>
                </div>

                <!-- UPDATED -->
                <div class="col-6">
                  <p class="text-muted mb-0">Última Actualización:</p>
                  <p class="fw-bold">{{product.updatedAt.toMillis() | date:'MMMM d, y'}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


