<!----------------------------->
<!-- PORTRAIT DESIGN CHECKED -->
<div class="portrait-design">
  <div class="container p-3">

    <!-- HEADER -->
    <div class="row">
      <div class="col-10 col-md-11">
        <p class="fs-4 fw-bold text-uppercase">Editar Cliente</p>
      </div>
      <div class="col-2 col-md-1">
        <img class="img-fluid" src="./assets/images/modules/customers/customers.png" alt="Editar Cliente">
      </div>
    </div>

    <!-- FULL NAME -->
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="fullName-PORT"
        [(ngModel)]="customer.fullName"
        placeholder="Nombres y apellidos">
      <label for="fullName-PORT">Nombres y apellidos</label>
    </div>

    <!-- EMAIL -->
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="email-PORT"
        [(ngModel)]="customer.email"
        placeholder="Correo electrónico">
      <label for="email-PORT">Correo electrónico</label>
    </div>

    <!-- BIRTHDAY AND DNI -->
    <div class="row mb-3">
      <!-- BIRTHDAY -->
      <div class="col-6">
        <div class="form-floating">
          <input
            (change)="getBirthday($event.target)"
            [value]="[birthdayValueDefault]"
            type="date"
            class="form-control"
            id="birthday-PORT"
            placeholder="Fecha de nacimiento">
          <label for="birthday-PORT">Fecha de nacimiento</label>
        </div>
      </div>
      <!-- DNI -->
      <div class="col-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="dni-PORT"
            [(ngModel)]="customer.dni"
            placeholder="DNI">
          <label for="dni-PORT">DNI</label>
        </div>
      </div>
    </div>

    <!-- PHONE AND USER SYSTEM -->
    <div class="row mb-3">
      <!-- PHONE -->
      <div class="col-6">
        <div class="form-floating">
          <input
            type="tel"
            class="form-control"
            id="phone-PORT"
            [(ngModel)]="customer.phone"
            placeholder="Teléfono">
          <label for="phone-PORT">Teléfono</label>
        </div>
      </div>
      <!-- USER SYSTEM -->
      <div class="col-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="userSystem-PORT"
            [(ngModel)]="customer.userSystem"
            placeholder="Usuario abonado">
          <label for="userSystem-PORT">Usuario abonado</label>
        </div>
      </div>
    </div>

    <!-- FACEBOOK AND INSTAGRAM -->
    <div class="row mb-3">
      <!-- FACEBOOK -->
      <div class="col-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="facebook-PORT"
            [(ngModel)]="customer.facebookURL"
            placeholder="Facebook">
          <label for="facebook-PORT">Faceboook</label>
        </div>
      </div>
      <!-- INSTAGRAM -->
      <div class="col-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="instagram-PORT"
            [(ngModel)]="customer.instagramURL"
            placeholder="Instagram">
          <label for="instagram-PORT">Instagram</label>
        </div>
      </div>
    </div>

    <!-- PHOTOS -->
    <div class="row mt-4 margin-bottom-page">
      <p class="fs-5 mb-2 text-center">FOTOS</p>

      <p class="small mb-4 text-center text-muted">(Haga click en la foto que desea cambiar).</p>

      <!-- PHOTO 1 -->
      <div class="col-4 text-center">
        <ng-container *ngIf="photo1_preview && photo1_preview !== ''; else imageDB1PORT">
          <div class="container-camera">
            <input type="file" (change)="take_photo1($event)" accept="image/*;capture=camera">
            <img class="img-fluid" src="{{photo1_preview}}" alt="{{photo1_file.name}}">
            <p class="small text-muted">PERFIL</p>
          </div>

          <!-- BUTTON DELETE -->
          <button
            (click)="deletePreview('PHOTO 1')"
            type="button"
            class="btn btn-danger">
            <i class="bi bi-trash-fill"></i>
          </button>
        </ng-container>

        <ng-template #imageDB1PORT>
          <div class="container-camera">
            <input type="file" (change)="take_photo1($event)" accept="image/*;capture=camera">
            <img class="img-fluid" src="{{customer.photoURL1}}" alt="{{customer.fullName}}">
            <p class="small text-muted">PERFIL</p>
          </div>
        </ng-template>
      </div>

      <!-- PHOTO 2 -->
      <div class="col-4 text-center">
        <ng-container *ngIf="photo2_preview && photo2_preview !== ''; else imageDB2PORT">
          <div class="container-camera">
            <input type="file" (change)="take_photo2($event)" accept="image/*;capture=camera">
            <img class="img-fluid" src="{{photo2_preview}}" alt="{{photo2_file.name}}">
            <p class="small text-muted">DNI</p>
          </div>

          <!-- BUTTON DELETE -->
          <button
            (click)="deletePreview('PHOTO 2')"
            type="button"
            class="btn btn-danger">
            <i class="bi bi-trash-fill"></i>
          </button>
        </ng-container>

        <ng-template #imageDB2PORT>
          <div class="container-camera">
            <input type="file" (change)="take_photo2($event)" accept="image/*;capture=camera">
            <img class="img-fluid" src="{{customer.photoURL2}}" alt="{{customer.fullName}}">
            <p class="small text-muted">DNIL</p>
          </div>
        </ng-template>
      </div>

      <!-- PHOTO 3 -->
      <div class="col-4 text-center">
        <ng-container *ngIf="photo3_preview && photo3_preview !== ''; else imageDB3PORT">
          <div class="container-camera">
            <input type="file" (change)="take_photo3($event)" accept="image/*;capture=camera">
            <img class="img-fluid" src="{{photo3_preview}}" alt="{{photo3_file.name}}">
            <p class="small text-muted">REDES</p>
          </div>

          <!-- BUTTON DELETE -->
          <button
            (click)="deletePreview('PHOTO 3')"
            type="button"
            class="btn btn-danger">
            <i class="bi bi-trash-fill"></i>
          </button>
        </ng-container>

        <ng-template #imageDB3PORT>
          <div class="container-camera">
            <input type="file" (change)="take_photo3($event)" accept="image/*;capture=camera">
            <img class="img-fluid" src="{{customer.photoURL3}}" alt="{{customer.fullName}}">
            <p class="small text-muted">REDES</p>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="row fixed-bottom bg-white p-3">
      <div class="col-6">
        <!-- BUTTON CANCEL -->
        <button
          type="reset"
          class="btn btn-danger w-100"
          (click)="getTemplate('VIEW')">
          <i class="bi bi-x-circle-fill"></i>
          Cancelar
        </button>
      </div>
      <div class="col-6">
        <!-- BUTTON SAVE /W LOADING EFFECT -->
        <button
          *ngIf="loadingEffect"
          type="button"
          class="btn btn-success w-100" disabled>
          <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
          Guardando...
        </button>
        <!-- BUTTON SAVE -->
        <button
          *ngIf="!loadingEffect"
          (click)="onSubmit(customer,firebaseUser)"
          type="button"
          class="btn btn-success w-100">
          <i class="bi bi-hdd-fill"></i>
          Guardar
        </button>
      </div>
    </div>

  </div>
</div>


<!------------------------------>
<!-- LANDSCAPE DESIGN CHECKED -->
<div class="landscape-design">
  <div class="container p-2 p-xxl-3">

    <!-- HEADER -->
    <div class="card shadow rounded p-2 mb-2 p-xxl-3 mb-xxl-3">
      <div class="row">

        <!-- TITLE -->
        <div class="col-6 col-lg-8 d-flex justify-content-start">
          <img class="me-3" ngSrc="./assets/images/modules/customers/customers.png" alt="Clientes" height="32"
               width="32" priority="">
          <p class="fs-4 fw-bold m-0 text-uppercase">Editar Cliente</p>
        </div>

        <!-- BUTTONS -->
        <div class="col-6 col-lg-4 d-flex justify-content-end">
          <!-- BUTTON CANCEL -->
          <button
            type="reset"
            class="btn btn-danger me-2"
            (click)="getTemplate('VIEW')">
            <i class="bi bi-x-circle-fill"></i>
            Cancelar
          </button>
          <!-- BUTTON SAVE /W LOADING EFFECT -->
          <button
            *ngIf="loadingEffect"
            type="button"
            class="btn btn-success" disabled>
            <span aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
            Guardando...
          </button>
          <!-- BUTTON SAVE -->
          <button
            *ngIf="!loadingEffect"
            (click)="onSubmit(customer,firebaseUser)"
            type="submit"
            class="btn btn-success">
            <i class="bi bi-hdd-fill"></i>
            Guardar
          </button>
        </div>
      </div>
    </div>

    <!-- FORM -->
    <div class="row">

      <!-- DATA CUSTOMER -->
      <div class="col-6 col-xl-4">
        <div class="card shadow rounded p-3">
          <p class="fs-5 fw-bold mb-1">Datos de Perfil</p>
          <hr class="text-muted mt-1">

          <!-- FULL NAME -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="fullName-LAND"
              [(ngModel)]="customer.fullName"
              placeholder="Nombres y apellidos">
            <label for="fullName-LAND">Nombres y apellidos</label>
          </div>

          <!-- EMAIL -->
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="email-LAND"
              [(ngModel)]="customer.email"
              placeholder="Correo electrónico">
            <label for="email-LAND">Correo electrónico</label>
          </div>

          <!-- BIRTHDAY AND DNI -->
          <div class="row mb-3">
            <!-- BIRTHDAY -->
            <div class="col-6">
              <div class="form-floating">
                <input
                  (change)="getBirthday($event.target)"
                  [value]="[birthdayValueDefault]"
                  type="date"
                  class="form-control"
                  id="birthday-LAND"
                  placeholder="Fecha de nacimiento">
                <label for="birthday-LAND">Fecha de nacimiento</label>
              </div>
            </div>
            <!-- DNI -->
            <div class="col-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="dni-LAND"
                  [(ngModel)]="customer.dni"
                  placeholder="DNI:">
                <label for="dni-LAND">DNI</label>
              </div>
            </div>
          </div>

          <!-- PHONE AND USER SYSTEM -->
          <div class="row mb-3">
            <!-- PHONE -->
            <div class="col-6">
              <div class="form-floating">
                <input
                  type="tel"
                  class="form-control"
                  id="phone-LAND"
                  [(ngModel)]="customer.phone"
                  placeholder="Teléfono">
                <label for="phone-LAND">Teléfono</label>
              </div>
            </div>
            <!-- USER SYSTEM -->
            <div class="col-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="userSystem-LAND"
                  [(ngModel)]="customer.userSystem"
                  placeholder="Usuario abonado">
                <label for="userSystem-LAND">Usuario abonado</label>
              </div>
            </div>
          </div>

          <!-- FACEBOOK AND INSTAGRAM -->
          <div class="row mb-3">
            <!-- FACEBOOK -->
            <div class="col-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="facebook-LAND"
                  [(ngModel)]="customer.facebookURL"
                  placeholder="Facebook">
                <label for="facebook-LAND">Faceboook</label>
              </div>
            </div>
            <!-- INSTAGRAM -->
            <div class="col-6">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="instagram-LAND"
                  [(ngModel)]="customer.instagramURL"
                  placeholder="Instagram">
                <label for="instagram-LAND">Instagram</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- UPLOAD PHOTOS -->
      <div class="col-6 col-xl-8">
        <div class="card shadow rounded p-3">
          <p class="fs-5 fw-bold mb-1">Editar Fotos</p>
          <hr class="text-muted mt-1">

          <!------------------->
          <!-- PHOTO PROFILE -->
          <div class="row">
            <ng-container *ngIf="photo1_preview && photo1_preview !== ''; else imageDB1LAND">
              <div class="col-9 col-xl-8">
                <button type="button" class="btn btn-danger" (click)="deletePreview('PHOTO 1')">
                  <i class="bi bi-trash-fill"></i>
                  Borrar
                </button>
              </div>
              <div class="col-3 col-xl-4 text-end">
                <img class="img-fluid" style="max-height: 128px" src="{{photo1_preview}}"
                     alt="{{photo1_file.name}}">
              </div>
            </ng-container>

            <ng-template #imageDB1LAND>
              <div class="col-9 col-xl-8">
                <label for="photoInput1" class="form-label">PERFIL</label>
                <input type="file" class="form-control" id="photoInput1" (change)="take_photo1($event)">
              </div>
              <div class="col-3 col-xl-4 text-end">
                <img class="img-fluid" style="max-height: 128px" src="{{customer.photoURL1}}" alt="preview">
              </div>
            </ng-template>
          </div>
          <hr class="text-muted mb-4">

          <!--------------->
          <!-- PHOTO DNI -->
          <div class="row">
            <ng-container *ngIf="photo2_preview && photo2_preview !== ''; else imageDB2LAND">
              <div class="col-9 col-xl-8">
                <button type="button" class="btn btn-danger" (click)="deletePreview('PHOTO 2')">
                  <i class="bi bi-trash-fill"></i>
                  Borrar
                </button>
              </div>
              <div class="col-3 col-xl-4 text-end">
                <img class="img-fluid" style="max-height: 128px" src="{{photo2_preview}}"
                     alt="{{photo2_file.name}}">
              </div>
            </ng-container>

            <ng-template #imageDB2LAND>
              <div class="col-9 col-xl-8">
                <label for="photoInput2" class="form-label">DNI</label>
                <input type="file" class="form-control" id="photoInput2" (change)="take_photo2($event)">
              </div>
              <div class="col-3 col-xl-4 text-end">
                <img class="img-fluid" src="{{customer.photoURL2}}" alt="preview">
              </div>
            </ng-template>
          </div>
          <hr class="text-muted mb-4">

          <!----------------->
          <!-- PHOTO REDES -->
          <div class="row">
            <ng-container *ngIf="photo3_preview && photo3_preview !== ''; else imageDB3LAND">
              <div class="col-9 col-xl-8">
                <button type="button" class="btn btn-danger" (click)="deletePreview('PHOTO 3')">
                  <i class="bi bi-trash-fill"></i>
                  Borrar
                </button>
              </div>
              <div class="col-3 col-xl-4 text-end">
                <img class="img-fluid" style="max-height: 128px" src="{{photo3_preview}}"
                     alt="{{photo3_file.name}}">
              </div>
            </ng-container>

            <ng-template #imageDB3LAND>
              <div class="col-9 col-xl-8">
                <label for="photoInput3" class="form-label">REDES</label>
                <input type="file" class="form-control" id="photoInput3" (change)="take_photo3($event)">
              </div>
              <div class="col-3 col-xl-4 text-end">
                <img class="img-fluid" src="{{customer.photoURL3}}" alt="preview">
              </div>
            </ng-template>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
